/*! src/pages/Home/styles/hero.css */

#hero {
	min-height: calc(100vh - var(--h-navbar) - var(--h-footer));
	position: relative;
	margin: 0;
	padding: 10vw;
	padding-left: 5%;
	display: flex;
	align-items: center;
}

#hero .hero-content {
	max-width: 40%;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

#hero .role {
	font-size: 1rem;
	color: black;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#hero h1 {
	font-size: 2.5rem;
	font-weight: bold;
	color: rgb(var(--c-text));
	margin-top: 0.5rem;
	line-height: 1.5;
}

.country-with-flag {
	white-space: nowrap;
	display: inline-flex;
	align-items: center;
	gap: 8px;
}

#hero .flag-icon {
	width: auto;
	height: 2.5rem;
	vertical-align: middle;
	border-radius: 5px;
}

@media (max-width: 768px) {
	#hero .role {
		color: black;
	}
}
