/*! src/styles/base.css */

@layer base {
	html,
	body,
	#root {
		height: 100%;
	}

	html {
		scroll-behavior: smooth;
		scroll-padding-top: var(--h-navbar);
	}

	button {
		@apply cursor-pointer;
	}

	.brand-letter {
		color: var(--color-brand);
	}

	.app-main {
		padding-top: var(--h-navbar);
		padding-bottom: var(--h-footer);
		min-height: calc(100vh - var(--h-navbar) - var(--h-footer));
	}
}
