/*! src/styles/tokens.css */

@layer base {
	:root {
		/* Soft light theme (warmer neutral, less white) */

		--c-text: 24 24 27; /* zinc-900 */
		--c-muted: 82 82 91; /* zinc-600 */

		--c-surface: 228 230 235; /* softer, less white */
		--c-popover: 235 237 242; /* slightly lighter than surface */

		--c-border: 210 212 218; /* subtle but visible */

		--c-hover: 218 220 226;
		--c-active: 208 210 216;

		--c-shadow: 0 0 0;

		--h-navbar: 4rem; /* 64px if root = 16px */
		--h-footer: 3.5rem; /* 56px if root = 16px */
	}

	.dark {
		--c-text: 244 244 245; /* zinc-100 */
		--c-muted: 161 161 170; /* zinc-400 */
		--c-border: 39 39 42; /* zinc-800 */
		--c-surface: 9 9 11; /* zinc-950 */

		--c-hover: 24 24 27; /* zinc-900 */
		--c-active: 24 24 27; /* zinc-900 */
		--c-popover: 9 9 11; /* zinc-950 */
	}
}
