#! server/.env.example

NODE_ENV=development
PORT=3000
PROTOCOL=http
DOMAIN_NAME=localhost

LOG_LEVEL=info

SESSION_SECRET=a_very_long_secure_secret

DB_HOST=localhost
DB_PORT=5432
DB_NAME=dwd_v2
DB_USER=dwd_app
DB_PASSWORD=super_secure_password
