/*! src/App/index.css */

/* src/index.css */
@import 'tailwindcss';

/* variants / theme setup should be early */
@import '../styles/variants.css';
@import '../styles/theme.css';

/* base globals + tokens */
@import '../styles/base.css';
@import '../styles/tokens.css';

/* component classes (semantic UI classes) */
@import '../styles/components/Navbar/navbar.css';
@import '../styles/components/Navbar/dropdown.css';
@import '../styles/components/Navbar/navbar-items.css';

/* footer */
@import '../styles/components/footer.css';
