/*! src/styles/components/Navbar/navbar.css */

@layer components {
	.ui-navbar {
		@apply fixed top-0 left-0 w-full z-50;
		@apply bg-[rgb(var(--c-surface))];
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.035);
		height: var(--h-navbar);
	}

	.ui-navbar-inner {
		@apply mx-auto px-6;
	}

	.ui-navbar-row {
		@apply flex items-center justify-between h-16;
	}

	.ui-navbar-mobile {
		@apply py-4;
		width: max-content;
	}

	.ui-navbar-backdrop {
		@apply fixed inset-0 z-40;
		background: rgba(0, 0, 0, 0.18);
	}
}
