/*! src/styles/components/Navbar/navbar.css */

@layer components {
	.ui-navbar {
		@apply fixed top-0 left-0 w-full z-50;
		@apply border-b;
		@apply border-[rgb(var(--c-border))];
		@apply bg-[rgb(var(--c-surface))];
	}

	.ui-navbar-inner {
		@apply mx-auto px-6;
	}

	.ui-navbar-row {
		@apply flex items-center justify-between h-16;
	}

	.ui-navbar-mobile {
		@apply py-4;
	}
}
