/*! src/styles/home/main.css */

#home-page {
	background: url('/images/index/background-image.png') no-repeat center
		center fixed;
	background-size: cover;
	position: relative;
	min-height: 86vh;
	margin: 2em 0;
}

#home-page section {
	position: relative;
	z-index: 2;
}

/* keep overlay inside home page only */
#home-page > .background-overlay {
	position: absolute;
	inset: 0;
	background: radial-gradient(
		circle at 10% 50%,
		rgba(0, 0, 0, 0) 0%,
		rgba(100, 100, 255, 0.4) 50%
	);
	z-index: 1;
	pointer-events: none;
	transition:
		background-position var(--transition-duration) ease,
		background var(--transition-duration) ease;
}
