/*! src/index.css */

@import 'tailwindcss';

:root {
	color-scheme: light dark;
}

* {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
}

body {
	margin: 0;
	font-family:
		system-ui,
		-apple-system,
		Segoe UI,
		Roboto,
		Arial,
		sans-serif;
	line-height: 1.5;
}
